body {
	background-color: darkgray;
}

h1 {
	text-align: center;

}

button {
	display: inline;
    margin-bottom: 20px;
	height: 40px;
	width: 100px;
}

#buttons{
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.gridbox {
	float: left;
	height: 30px;
	width: 30px;
	border: 0px;
	background-color: white;
}

#gridcontainer {
    float: none;
	height: 480px;
	width: 480px;
	margin: 0 auto;
	
}


input {
	border: 1px solid black;
}

#colorsliders {

	text-align: center;
	margin-top: 20px;
}



#currentcolor {
	margin: 0 auto;
	height: 50px;
	width: 50px;
	border: 2px solid black;
	background-color: black;
}